
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

body{
    background-color: #f5f4f0;
    padding: 88px 80px 142px 80px  ;
    margin: 0 auto;
}

header {
    margin-bottom: 40px;
}
header p{
    font-weight: bold;
    font-size: 16px;
    height: auto;
    color: #E1624F;
    margin-bottom: 8px;
    text-transform: uppercase;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
}  

.banner{
    margin-bottom: 40px;
}

.banner img{
    border-radius: 28px;
    width: 100%;
    height: 660px;
    margin-bottom: 24px;
}

.divider {
    width: 100%;
    height: 1px;
    margin: 36px 0;
    background-color: #d9d9d9;
}
.subtitle {
    font-size: 16px;
    font-style: italic;
    text-align: center;
    color: #333333;
}

.apresentation {
    margin-top: 64px;
    margin-bottom: 64px;
}

section p {
    font-size: 16px;
    font-weight: normal;
    color: #333333;
}

.headline{
    height: 68px;
    margin-bottom: 8px;
}

.headline p{
    color: #E1624F;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2px;
    text-transform: uppercase;
}

.headline h2 {
    font-size: 32px;
    font-weight: bold;
}

/*Inicio dos locais turisticos*/
.firstLocation, .secondLocation {
    margin-bottom: 48px;
}

.firstLocation img {
    width: 100%;
    height: 350px;
    border-radius: 28px;
    margin-bottom: 20px;
    /*object-fit: cover serve para ajustar a imagem para caber no container e nao se distorcer*/
    object-fit: cover;
}

.firstLocation h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 6px;
    padding-left: 5px;
} 

.firstLocation ul {
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    padding-left: 17px;
    color: #0C51A7;
}

.secondLocation img{
    width: 100%;
    height: 350px;
    border-radius: 28px;   
    margin-bottom: 20px;
    object-fit: cover;
}

.secondLocation h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 4px;
    padding-left: 5px;
}

.secondLocation ul {
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    padding-left: 17px;
    color: #0C51A7;
}

.thirdLocation img {
    width: 100%;
    height: 350px;
    border-radius: 28px;
    margin-bottom: 20px;
    object-fit: cover;
}

.thirdLocation h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 4px;
    padding-left: 5px;
}

.thirdLocation ul {
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    padding-left: 17px;
}

.casais {
    color: #591b98;
    font-weight: bold;
}

.familias {
    color: #e5245e;
    font-weight: bold;
}

.orcamento {
    color: #e95e10;
    font-weight: bold;
}

.preFooter p {
    font-family: "Open Sans";
    text-align: center;
    margin-bottom: 65px;
}

footer div{
    gap: 4px;
    text-align: center;
    margin: 0 auto;
}